#logo { display: block; text-indent: -9999px; background-image: url(LDNf-logo.png); background-repeat: no-repeat; background-size: 100%; width: 100%; height: 0; padding-bottom: 22.3333333%; background-color: transparent!important; }

// Menu  
.menuToggle { display: block; position: absolute; top: 0; left: 0; width: 1.5em; height: 1.5em; text-indent: -9999px; margin: .5em 1em; padding: .25em;  background-color: transparent!important;
	span { display: block; background-image: url(menu-burger.png); background-repeat: no-repeat; background-size: 100%; }
	&:hover { opacity: .8; }
	@include breakpoint($mobile) { margin: 1em; }
	@include breakpoint($tablet-landscape) { display: none; }
}

.logged-in nav[role="navigation"] { top: 32px; }

nav[role="navigation"] { padding: .25em 0 0; @include box-sizing(border-box); background-color: $black; position: fixed; top: 0; left: 0; right: 0; z-index: 999999;
	.logo_wrap { width: 33.333333333%; margin: 0 33.333333333%; padding: .4125em 0 .5em; float: left;
		@include breakpoint($tablet) { width: 20%; margin: 0 40%; padding-top: .5em; }
		@include breakpoint($tablet-mid) { padding-top: .333em; }
		@include breakpoint($tablet-landscape) { width: 12.5%; padding: .25em .75em .375em; margin: 0; }
		h1 { margin: 0; }
	}
	.menu { list-style: none; padding: 0; margin: 0; float: left; width: 100%; display: none;
		@include breakpoint($tablet-landscape) { float: left; width: 87.5%; @include display(flex); @include flex-flow(row wrap); @include justify-content(space-between); }
		@include breakpoint($ipad) { width: 75%; margin: 0 6.25%; }
		li { position: relative;
			@include breakpoint($tablet-landscape) {
				&:hover { .sub-menu { display: block; } }
			}
			@include breakpoint-max($tablet-landscape) { width: 100%; float: left; text-align: center;
				&:last-child {
					a { border-bottom: .25em solid $darkgrey; }
				}
			}
			a { display: block; @include Freight; font-size: .75em; border-bottom: .25em solid $black; text-transform: uppercase; padding: .75rem .75rem .5em!important; line-height: 1.5; background-color: $black; @include box-sizing(border-box);
				@include breakpoint-max($tablet-landscape) { border-top: .25em solid $darkgrey; }
				@include breakpoint($tablet-landscape) { float: left; }
				@include breakpoint($tablet-mid) { letter-spacing: .125em; }
				&:link, &:visited { color: $white; }
				&:hover { color: #fff; border-bottom-color: $darkgrey; background-color: $darkgrey; }
			}
			&.active a{
				&:link, &:visited { color: #000; border-bottom-color: $lightgrey; background-color: $white; } 
			}
		}
	}
	.sub-menu { list-style: none; padding: 0; margin: 0; width: 100%; display: none; background-color: lighten($black, 8%); 
		@include breakpoint($tablet-landscape) { position: absolute; top: 100%; left: 0; right: 0; }
		li { display: block;
			a { float: none; background-color: lighten($black, 8%); border-bottom: none; }
			&:last-child a { border-bottom: none; }
		}
	}
}

.menu-item-has-children {
	&>a:after { content: "\25BC"; color: $white; font-size: .875em; margin-left: .75em; }
}

// Footer 
footer[role="content-info"] { margin-top: 3em; padding-bottom: 3em; background-color: $black; color: $white!important;
	a:link, a:visited { color: $white; background-color: $black; -webkit-font-smoothing: antialiased }
}
.credits { color: $grey; font-size: .75em; width: 100%; }

// Structure
#content { width: 100%; float: left;
	@include breakpoint($tablet) { width: 62.5%; }
	@include breakpoint($laptop) { width: 68.75%; }
}
.page_headline { margin: 1.5em 0; width: 100%; }

.no-vouchers { margin-top: 1.5em; font-size: 1.25em; letter-spacing: 1.5; }

#sidebar { margin-top: 1.5em; width: 100%; float: left;
	@include breakpoint($tablet) { width: 37.5%; }
	@include breakpoint($laptop) { width: 31.25%; }
	.ldnf_widget { width: 100%; }
	.mini-ads { float: left; width: 100%; list-style: none; padding: 0; margin: .75em 0; }
	li.ldnf_widget { width: 50%; margin-bottom: 1em;
		@include breakpoint($tablet-mid) { width: 9.0625em; }
		@include breakpoint($laptop) { width: 33.333333333%; }
	}
}
.sidebar_ad_bottom+.sidebar_ad_bottom { margin-top: 1.5em; }

.sidebar_section, .footer_section {
	ul { margin: 0; padding: 0 .75em .75em 1.25em; list-style-type: square; color: $lightgrey; }
}
.sidebar_section { margin-top: 1.5em; width: 100%; }
.footer_section { margin-top: 1.5em; width: 50%;
	@include breakpoint($tablet) { width: 25%; }
	&.double { width: 100%;
		@include breakpoint($tablet) { width: 50%;
			ul { @include columns(2); @include column-gap(1.5em); list-style-position: inside; padding-left: 0; }
		}
	}
}
.section_header { margin: 0 0 .75em; border-bottom: .0625em solid $lightgrey; /* border-width: 0 0 .0625em 0; @include horizontal-border; */
	h2, h3, h4, h5 { margin: 0; }
	h2, h3 { @include Freight-Display; }
	&.sidebar_header, &.footer_header { padding-bottom: .125em;
		h4 { @include Freight; letter-spacing: .125em; text-transform: uppercase; font-size: .75em; line-height: 1.5; font-weight: normal; }
	}
	&.footer_header { border-bottom-color: $darkgrey; }
}

// Sidebar 
.follow_button { float: left; height: 3em; width: 50%; padding:.75em; @include box-sizing(border-box); background-color: $offwhite; text-align: center; white-space: nowrap;
	&+.follow_button { border-top: .06253em solid $lightgrey }
	&.facebook { width: 100%; height: auto; }
}
.ig-b-, .pinterest a { @include transition(none); display: inline-block!important; }
.pinterest a { position: relative; top: -3px; }

.pluginFacepileConnectConnected { @include breakpoint-max($tablet) { display: none; } }

.wpp-list { font-style: italic; list-style-type: none!important; padding: 0 0 .75em!important;
	li { @include clearfix; }
	li + li { margin-top: .375em; }
}

// Single
.post { float: left; width: 100%; margin-top: 1.5em;
	&+.post { border-top: .125em solid $lightgrey; padding-top: 1.5em; }
}
.post-image { width: 100%;
	img { width: 100%!important; }
}
.post-words { width: 100%;
	img { max-width: 100%; height: auto; }
}
.post-content {
	p { font-size: 1.25em; line-height: 1.5; }
	blockquote { @include vertical-border; border-width: 0 0 0 .0625em; margin: 1.5em 0 1.5em 1.5em; padding-left: .75em;
		p { font-style: italic; font-size: 2em; line-height: 1.3; @include Freight-Display; }
	}
	a { border-bottom: .0625em solid $black; }
}
.post-header {
	h2 { margin: 0 0 .375em; font-size: 3em; line-height: 1.125; font-weight: 400; font-style: italic; }
	p { @include Freight; font-size: .75em; color: $darkgrey; text-transform: uppercase; letter-spacing: .125em; text-align: right; line-height: 1.5; padding-bottom: .25em;
		a:link, a:visited { color: $darkgrey; }
	}
}
.post-comments { width: 100%; margin-top: 1.5em; }
.share-links { width: 100%; margin-top: 1.5em;
	ul { list-style: none; padding: 0; margin: .75em 0; }
	li { width: 33.333333333%; float: left; text-align: center; }
}

#postNav { margin-top: 3em; width: 100%; float: left;
	div { width: 50%; }
	.next-post { text-align: right; }
}
.related-posts { margin-top: 3em; width: 100%; float: left;
	.section_header { width: 100%; }
	ul { list-style: none; padding: 0; margin: 1em 0 0; width: 100%; float: left; }
	li { width: 50%; margin-bottom: .75em;
		@include breakpoint($tablet) { width: 33.333333333%; }
		@include breakpoint($tablet-landscape) { width: 25%; }
		header { font-size: .75em; line-height: 1.3;
			h3 { margin: 0; }
		}
	}
}

.author_meta { width: 100%;
	h3 { margin: 0 0 .75em; }
	p { margin: 0; }
}

// Widgets / Adverts
.ldnf_widget { text-align: center;
	@include breakpoint($tablet) { text-align: left; }
	img { display: inline-block; max-width: 100%; border: .0625em solid $offwhite; }
	a { background-color: transparent; }
	&.header_banner { width: 100%; margin-top: .75em; text-align: left; }
	&.index_ad_high, &.index_ad_low { width: 100%; text-align: center; margin-bottom: 1.5em;  }
}

// Voucher Codes
.list-voucher-codes { list-style: none; }
.list-voucher-code { padding: .75em 0;
	&+.list-voucher-code { margin-top: .75em; border-top: .0625em solid $lightgrey; }
	figure { width: 33.333333333%;
		img { display: block; border: .0625em solid $lightgrey; padding: .125em; @include box-sizing(border-box); background: $offwhite; }
		figcaption { width: 100%; background-color: $black; color: $lightgrey; text-transform: uppercase; letter-spacing: .25em; font-size: .75em; text-align: center; margin-top: .125em;
			&.voucher-type-voucher { -webkit-font-smoothing: antialiased; }
			&.voucher-type-exclusive { background-color: $cyan; }
			&.voucher-type-offer { background-color: $yellow; color: $black; }
		}
	}
	header, footer { width: 66.666666666%; }
	h3 { margin: 0; }
	.meta { color: $grey; font-size: .875em; line-height: 1.5; }
	div.wrapper { margin-top: .75em; width: 100%; text-align: center; @include Freight; text-transform: uppercase; letter-spacing: .125em; font-weight: bold;
		@include breakpoint($tablet) { width: 66.666666666%; }
	}
	footer { margin-top: .75em;
		p { margin: 0; }
	}
}
.voucher-code-button { display: block; background-color: $offwhite; @include background-gradient($offwhite, $lightgrey); border: .0625rem solid $lightgrey; padding: 1.5rem .75rem; border-radius: .25rem; font-size: 1em; float: left; width: 100%; @include box-sizing(border-box); color: $grey;
	&:hover { @include background-gradient; color: $white; }
}
input.voucher-code-button { -webkit-appearance: none; text-align: center; @include Freight; text-transform: uppercase; letter-spacing: .125em; font-weight: bold; @include background-gradient; color: $white; font-size: 1.5em; }

.post-type-archive-voucher-code {
	#content { margin-top: 1.5em; }
}

// Sample Sales
.list-sample-sale { padding: .75em 0;
	&+.list-sample-sale { margin-top: .75em; border-top: .0625em solid $lightgrey; }
	figure { width: 33.333333333%;
		img { display: block; border: .0625em solid $lightgrey; padding: .125em; @include box-sizing(border-box); background: $offwhite; }
	}
	header, div { width: 66.666666666%; }
	header {
		h3 { margin: 0 0 .75em; }
	}
	div { font-size: .75em; line-height: 1.5;
		// p { @include Freight; font-weight: 300; }
		// strong { @include Freight; font-weight: 500; }
		p+p { margin-top: .375em; }
	}
}

.post-type-archive-sample-sale {
	// .page_headline { border-bottom: 1px solid $lightgrey; padding-bottom: 1.5em; }
}

// Shop Page
.shop-address { margin-top: 1.5em; float: left; width: 100%;
	// .partition { margin-top: 1.5em; }
	div { float: left; }
	@include breakpoint($tablet-mid) {
		div { width: 50%; }
	}
	div:first-of-type { @include columns(2); @include column-gap(1.5em); margin-bottom: 1.5em; }
	.section_header { @include column-span(all); }
	p { -webkit-column-break-inside: avoid; break-inside: avoid; }
}
.google_map img { display: block; }

// Index 
.posts { list-style-type: none; padding: 0; margin: 1.5em 0 0; }
.post-thumb { width: 50%; margin-bottom: .75em;
	@include breakpoint($moblet) { width: 33.333333333%; }
}
.post-thumb-header { line-height: 1.3; width: 100%; padding-top: .375em; border-top: .0625em solid $lightgrey; border-bottom: none; }

.category-streetstyle {
	.post-thumb {
		@include breakpoint($tablet) { width: 20%; }
	}
}

// Featured 
.featured { margin: 1.5em 0; position: relative; }
.slides { list-style-type: none; padding: 0; margin: 0; }
.slide { width: 100%; height: 100%;
	img { max-width: 100%; height: auto; display: inline-block; }
	figure { float: left; overflow: hidden; line-height: 0; width: 100%; background-color: $black; }
	figcaption { line-height: 1.5; float: left; @include box-sizing(border-box); background-color: $black; padding: .375em 0 .5em .75em; border-top: .25em solid $darkgrey; width: 100%;
		@include breakpoint ($moblet) { width: auto; }
		h3 { font-size: 1.5em; line-height: 1.125; margin: 0; font-style: italic; font-weight: normal; @include Freight-Display; color: $white; -webkit-font-smoothing: antialiased;
			@include breakpoint($moblet) { font-size: 2em; } 
			@include breakpoint($tablet-landscape) { font-size: 2.25em; } 
		}
	}
}
.rslides_nav { position: absolute; top: 0; bottom: 0; z-index: 9999; font-size: 2em; padding: 22.5% .75em; height: 100%; @include box-sizing(border-box); background-color: transparent!important;
	&.prev { left: 0; }
	&.next { right: 0; }
	&:link, &:visited { color: $white; }
}

// Street Style
.partition { width: 100%; }
.streetstyle-thumbs { list-style-type: none; margin: 0; padding: 0;
	li { width: 25%; margin-bottom: 1.5em;
		@include breakpoint($tablet) { width: 16.666666666%; }
		img { display: block; }
	}
}

// Brands Index
@include keyframes(flash) {
  0% {
    background-color: $white;
  }
  33% {
    background-color: $lightyellow;
  }
  100% {
    background-color: $white;
  }
}

.brands-alpha { width: 100%; list-style-type: none;
	@include breakpoint($moblet) { @include columns(2); @include column-gap(1.5em); }
	@include breakpoint($tablet-mid) { @include columns(3); }
	li { -webkit-column-break-inside: avoid; break-inside: avoid; margin-bottom: 1.5em;
		&:target { @include animation(flash 1s 1 ease-out); }
		p+p { margin-top: 0; }
	}
}
.letter-list {
	a { padding: 0 .25em; margin: 0 -.125em;
		&:hover { background-color: $black; color: $white; }
	}
}

// Brand page
.tax-brand {
	.partition { width: 100%;
		@include breakpoint($tablet) { width: 33.333333333%; }
		&.brand_news, &.page_headline, .header_wrap { width: 100%; float: left;
			.post-thumb { width: 33.333333333%; float: left; }
		}
	}
	.page_headline { @include Freight-Display; }
	.header_wrap { margin-top: 1.5em; }
	.post-thumb { width: 100%; 
		header { border-bottom: .125em solid $lightgrey; padding-bottom: .75em; margin-bottom: .75em; }
		.brand-map { margin-top: 1.5em; }
	}
}

.brand-lists {
	li+li { margin-top: .75em; padding-top: .75em; border-top: 1px dashed $lightgrey; }
}

@include breakpoint($tablet-mid) {
	.brand-description { float: left; width: 100%; font-size: 1.25em; letter-spacing: 1.5;
		&.with_image { width: 66.666666667%; }
	}
}

.post-type-archive-sample-sale .brand-description { width: 100%; }

.brand-image { float: left; width: 100%;
	@include breakpoint($tablet-mid) { width: 33.333333333%; }
}

#gallery { margin-bottom: .75em;
	&:target { padding-top: 3em; }
	div { line-height: 0; background-color: $black; position: relative; text-align: center; }
	img { line-height: 0; display: inline; float: left; }
	.arrow { padding: 0 .25em; position: absolute; color: $white; top: 45%; font-size: 3em; opacity: .5; @include transition(opacity .2s linear); text-shadow: 0 0 3px $darkgrey, -1px 0 3px $darkgrey, 1px 0 3px $darkgrey, 0 -1px 3px $darkgrey, 0 1px 3px $darkgrey, -1px -1px 3px $darkgrey, 1px 1px 3px $darkgrey;
		&:hover { opacity: 1; }
	}
	.prev { left: 0; }
	.next { right: 0; }
	figcaption { color: $offwhite; line-height: 1.5; float: left; width: 96%; margin: 0 2%; -webkit-font-smoothing: antialiased;
		@include breakpoint($moblet) { width: 87.5%; margin: 0 6.25%; }
		@include breakpoint($tablet-mid) { width: 75%; margin: 0 12.5%; }
		h2 { margin: .25em 0 .375em;
			&.has_caption { border-bottom: .0625em solid $offwhite; padding: 0 0 .25em; }
		}
		p { margin: 0 0 .75em; }
		h2, p {
			a:link, a:visited { color: $offwhite; border-bottom: 1px solid $offwhite; }
			a:hover { color: $lightyellow; border-bottom-color: $lightyellow; background-color: transparent; } 
		}
	}
}
.category-image { position: relative;
	figcaption { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center;
		h4 { text-transform: uppercase; @include Freight; letter-spacing: .125em; margin: 2.5em .75em 0; font-weight: 600; font-size: 1.5em; }
	}
}

.header_404 { margin: 1.5em 0;
	h2 { margin: 0 0 .375em; 
		span { font-style: italic; font-weight: normal; }
	}
}
.error404 .sidebar_section { margin-top: .825em!important; }

// SEARCH
.search-wrapper { float: left; width: 100%;
	input, button { @include box-sizing(border-box); padding: .375rem .75rem; @include appearance(none); border: 1px solid $lightgrey; float: left; }
	.search_box { width: 50%; margin-right: 5%; @include Freight-Text; font-size: 1em;
		&:focus { outline: none; border-color: $cyan; }
	}
	.search_submit { text-transform: uppercase; font-weight: bold; width: 30%; @include Freight; font-size: 1em; letter-spacing: 2px; text-align: center; background-color: $offwhite; @include background-gradient($offwhite, $lightgrey); padding-right: .5em; color: $grey;
		&:hover { @include background-gradient; color: $white; }
		&.longer { width: 40%; }
	}
}

.search-results {
	#content { margin-top: 1.5em; }
}

.newsletter_signup {
	p { font-size: .75em; @include Freight; }
}

pre { @include columns(3); @include column-gap(3em); @include column-rule(1px solid $grey); font-size: .875em!important; line-height: 1.5; background-color: $lightgrey; padding: 1.5em; }