// Header
header[role="banner"] {
	.logo_wrap { width: 37.5%; margin: 0 31.25%;
		@include breakpoint($mobile) { width: 20%; margin: 0; }
		h1 { margin: .375em 0; }
	}
}
#logo { display: block; text-indent: -9999px; background-image: url(LDNf-logo.png); background-repeat: no-repeat; background-size: 100%; width: 100%; height: 0; padding-bottom: 22.3333333%; background-color: transparent!important; }

// Menu  
nav[role="navigation"] { padding: .25em 0 .25em; @include box-sizing(border-box); background-color: $black;
	.logo_wrap { width: 50%; margin: 0 25%; padding-top: .4125em;
		@include breakpoint($moblet) { width: 25%; padding-top: 0; margin: 0; }
		@include breakpoint($tablet) { width: 12.5%; padding-top: .5em; }
		@include breakpoint($tablet-mid) { padding-top: .333em; }
		@include breakpoint($tablet-mid) { padding-top: .25em; }
		@include breakpoint($laptop) { padding-top: 0; }
		h1 { margin: .25em 0 0; }
	}
	ul { list-style: none; padding: 0; margin: 0; float: left; width: 100%; display: flex; flex-flow: row wrap; justify-content: space-between;
		@include breakpoint($moblet) { width: 75%; }
		// @include breakpoint($tablet) { width: 87.50%; }
		@include breakpoint($tablet) { width: 81.25%; margin: 0 6.25% 0 0; }
		@include breakpoint($ipad) { width: 75%; margin: 0 6.25%; }
		li {
			// &:first-child { padding-left: .375em; }
			&:last-child { display: block!important; }
			a { display: block; @include Freight; font-size: .75em; border-bottom: .25em solid $black; text-transform: uppercase; padding: .75rem .75rem .5em!important; line-height: 1.5; background-color: $black; @include box-sizing(border-box); float: left;
				@include breakpoint($tablet-mid) { letter-spacing: .125em; }
				&:link, &:visited { color: $white; }
				&:hover { color: #fff; border-bottom-color: $darkgrey; /* border-width: 0 0 .0625em 0; @include horizontal-border; */ background-color: $darkgrey; }
			}
			@include breakpoint-max($moblet) { &:nth-child(n+4) { display: none; } }
			@include breakpoint-max($tablet) { &:nth-child(n+5) { display: none; } }
			@include breakpoint-max($tablet-landscape) { &:nth-child(n+6) { display: none; } }
			@include breakpoint($tablet-landscape) { &:last-child { display: none!important; } }
			&.active a{
				&:link, &:visited { color: #000; border-bottom-color: $lightgrey; /* border-width: 0 0 .0625em 0; @include horizontal-border; */ background-color: $white; } 
			}
		}
	}
}
.fixed nav[role="navigation"] { position: fixed; z-index: 999999; top: 0; left: 0; right: 0; width: 100%;
	// @include breakpoint($tablet-mid) { width: 94.444444444%; }
	// @include breakpoint($laptop) { width: 88.888888888%; }
	// @include breakpoint($desktop) { width: 77.777777778%; }
}

// Footer 
footer[role="content-info"] { margin-top: 3em; padding-bottom: 3em; background-color: $black; color: $white!important;
	a:link, a:visited { color: $white; background-color: $black; -webkit-font-smoothing: antialiased }
}
.credits { color: $grey; font-size: .75em; width: 100%; text-align: center;
	@include breakpoint($tablet) { text-align: right; }
}

// Structure
#content { width: 100%; float: left;
	@include breakpoint($tablet) { width: 62.5%; }
	@include breakpoint($laptop) { width: 68.75%; }
}
.page_headline { margin: 1.5em 0; width: 100%; }

#sidebar { margin-top: 1.5em; width: 100%; float: left;
	@include breakpoint($tablet) { width: 37.5%; }
	@include breakpoint($laptop) { width: 31.25%; }
	.ldnf_widget { width: 100%; }
	.mini-ads { float: left; width: 100%; list-style: none; padding: 0; margin: 1.5em 0; }
	li.ldnf_widget { width: 50%; margin-bottom: 1em;
		@include breakpoint($tablet) { width: 9.0625em; }
		@include breakpoint($laptop) { width: 33.333333333%; }
	}
}
.sidebar_section, .footer_section {
	ul { margin: 0; padding: 0 .75em .75em 1.25em; list-style-type: square; color: $lightgrey; }
}
.sidebar_section { margin-top: 1.5em; width: 100%; }
.footer_section { margin-top: 1.5em; width: 50%;
	@include breakpoint($tablet) { width: 25%; }
	&.double { width: 100%;
		@include breakpoint($tablet) { width: 50%; }
	}
}
.section_header { margin: 0 0 .75em; border-bottom: .0625em solid $lightgrey; /* border-width: 0 0 .0625em 0; @include horizontal-border; */
	h2, h3, h4, h5 { margin: 0; }
	h2, h3 { @include Freight-Display; }
	&.sidebar_header, &.footer_header { padding-bottom: .125em;
		h4 { @include Freight; letter-spacing: .125em; text-transform: uppercase; font-size: .75em; line-height: 1.5; font-weight: normal; }
	}
	&.footer_header { border-bottom-color: $darkgrey; }
}

// Sidebar 
.follow_button { float: left; height: 3em; width: 50%; padding:.75em; @include box-sizing(border-box); background-color: $offwhite; text-align: center; white-space: nowrap;
	&+.follow_button { border-top: .06253em solid $lightgrey }
	&.facebook { width: 100%; height: auto; }
}
.ig-b-, .pinterest a { @include transition(none); display: inline-block!important; }
.pinterest a { position: relative; top: -3px; }

.pluginFacepileConnectConnected { @include breakpoint-max($tablet) { display: none; } }

// Single
.post { float: left; width: 100%; margin-top: 1.5em;
	&+.post { border-top: .125em solid $lightgrey; padding-top: 1.5em; }
}
.post-image { width: 100%; }
.post-words { width: 100%;
	img { max-width: 100%; height: auto; }
}
.post-content {
	p { font-size: 1.25em; line-height: 1.5; }
	blockquote { @include vertical-border; border-width: 0 0 0 .0625em; margin: 1.5em 0 1.5em 1.5em; padding-left: .75em;
		p { font-style: italic; font-size: 2em; line-height: 1.3; @include Freight-Display; }
	}
	a { border-bottom: .0625em solid $black; }
}
.post-header {
	h2 { margin: 0 0 .375em; font-size: 3em; line-height: 1.125; font-weight: 400; font-style: italic; }
	p { @include Freight; font-size: .75em; font-weight: bold; color: $darkgrey; text-transform: uppercase; letter-spacing: .125em; text-align: right; line-height: 1.5; padding-bottom: .25em;
		a:link, a:visited { color: $darkgrey; }
	}
}
.post-comments { width: 100%; margin-top: 1.5em; }
.share-links { width: 100%; margin-top: 1.5em;
	ul { list-style: none; padding: 0; margin: .75em 0; }
	li { width: 33.333333333%; float: left; text-align: center; }
}

#postNav { margin-top: 3em; width: 100%; float: left;
	div { width: 50%; }
	.next-post { text-align: right; }
}
.related-posts { margin-top: 3em; width: 100%; float: left;
	.section_header { width: 100%; }
	ul { list-style: none; padding: 0; margin: 1em 0 0; width: 100%; float: left; }
	li { width: 50%; margin-bottom: .75em;
		@include breakpoint($tablet) { width: 33.333333333%; }
		@include breakpoint($tablet-landscape) { width: 25%; }
		header { font-size: .75em; line-height: 1.3;
			h3 { margin: 0; }
		}
	}
}

// Widgets / Adverts
.ldnf_widget { text-align: center;
	@include breakpoint($tablet) { text-align: left; }
	img { display: inline-block; max-width: 100%; border: .0625em solid $offwhite; }
	a { background-color: transparent; }
	&.header_banner { width: 100%; margin-top: .75em; text-align: left; }
}

// Voucher Codes
.list-voucher-codes { list-style: none; }
.list-voucher-code { padding: .75em 0;
	&+.list-voucher-code { margin-top: .75em; border-top: .0625em solid $lightgrey; }
	figure { width: 33.333333333%;
		img { display: block; border: .0625em solid $lightgrey; padding: .125em; @include box-sizing(border-box); background: $offwhite; }
	}
	header, footer { width: 66.666666666%; }
	h3 { margin: 0; }
	.meta { color: $grey; font-size: .875em; line-height: 1.5; }
	div.wrapper { margin-top: .75em; width: 66.666666666%; text-align: center; @include Freight; text-transform: uppercase; letter-spacing: .125em; font-weight: bold; }
	footer { margin-top: .75em;
		p { margin: 0; }
	}
}
.voucher-code-button { display: block; background-color: $offwhite; @include background-gradient($offwhite, $lightgrey); border: .0625rem solid $lightgrey; padding: 1.5rem .75rem; border-radius: .25rem; font-size: 1em; float: left; width: 100%; @include box-sizing(border-box); color: $grey;
	&:hover { @include background-gradient; color: $white; }
}
input.voucher-code-button { -webkit-appearance: none; text-align: center; @include Freight; text-transform: uppercase; letter-spacing: .125em; font-weight: bold; @include background-gradient; color: $white; font-size: 1.5em; }

// Shop Page
.shop-address { margin-top: 1.5em; float: left; width: 100%;
	// .partition { margin-top: 1.5em; }
	div { float: left; }
	@include breakpoint($tablet-mid) {
		div { width: 50%; }
	}
	div:first-of-type { @include columns(2); @include column-gap(1.5em); margin-bottom: 1.5em; }
	.section_header { @include column-span(all); }
	p { -webkit-column-break-inside: avoid; break-inside: avoid; }
}
.google_map img { display: block; }

// Index 
.posts { list-style-type: none; padding: 0; margin: 1.5em 0 0; }
.post-thumb { width: 33.333333333%; margin-bottom: .75em; }
.post-thumb-header { line-height: 1.3; width: 100%; padding-top: .375em; border-top: .0625em solid $lightgrey; border-bottom: none; }

.index_ad_high { margin-bottom: 1.5em; /* padding: .75em 0; border-top: .125em solid $lightgrey; border-bottom: .125em solid $lightgrey; */
	img { display: block; }
}

// Featured 
.featured { margin: 1.5em 0; position: relative; }
.slides { list-style-type: none; padding: 0; margin: 0; }
.slide { width: 100%; height: 100%;
	img { max-width: 100%; height: auto; display: inline-block; }
	figure { float: left; overflow: hidden; line-height: 0; width: 100%; background-color: $black; }
	figcaption { line-height: 1.5; position: absolute; bottom: 0; left: .75em; right: .75em; float: left; @include box-sizing(border-box); background-color: $black; padding: .375em 0 .5em .75em; border-top: .25em solid $darkgrey;
		h3 { font-size: 2.75em; line-height: 1.125; margin: 0; font-style: italic; font-weight: normal; @include Freight-Display; color: $white; -webkit-font-smoothing: antialiased; }
	}
}
.rslides_nav { position: absolute; top: 0; bottom: 0; z-index: 9999; font-size: 2em; padding: 22.5% .75em; height: 100%; @include box-sizing(border-box); background-color: transparent!important;
	&.prev { left: 0; }
	&.next { right: 0; }
	&:link, &:visited { color: $white; }
}

// Street Style
.partition { width: 100%; }
.streetstyle-thumbs { list-style-type: none; margin: 0; padding: 0;
	li { width: 25%; margin-bottom: 1.5em;
		@include breakpoint($tablet) { width: 16.666666666%; }
		img { display: block; }
	}
}

// Brands Index
@include keyframes(flash) {
  0% {
    background-color: $white;
  }
  33% {
    background-color: $lightyellow;
  }
  100% {
    background-color: $white;
  }
}

.brands-alpha { width: 100%; list-style-type: none;
	@include breakpoint($moblet) { @include columns(2); @include column-gap(1.5em); }
	@include breakpoint($tablet-mid) { @include columns(3); }
	li { -webkit-column-break-inside: avoid; break-inside: avoid; margin-bottom: 1.5em;
		&:target { @include animation(flash 1s 1 ease-out); padding-top: 1.5em; }
		p+p { margin-top: 0; }
	}
}
.letter-list {
	a { padding: 0 .25em; margin: 0 -.125em;
		&:hover { background-color: $black; color: $white; }
	}
}

// Brand page
.tax-brand {
	.partition { width: 100%;
		@include breakpoint($tablet) { width: 50%; }
		&.brand_news, &.page_headline, .header_wrap { width: 100%; float: left;
			.post-thumb { width: 33.333333333%; float: left; }
		}
	}
	.page_headline { @include Freight-Display; }
	.header_wrap { margin-top: 1.5em; }
	.post-thumb { width: 100%; 
		header { border-bottom: .125em solid $lightgrey; padding-bottom: .75em; margin-bottom: .75em; }
		.brand-map { margin-top: 1.5em; }
	}
}

#gallery { margin-bottom: .75em;
	&:target { padding-top: 3em; }
	div { line-height: 0; background-color: $black; position: relative; text-align: center; }
	img { line-height: 0; display: inline; }
	.arrow { padding: 0 .25em; position: absolute; color: $white; top: 45%; font-size: 3em; opacity: .5; @include transition(opacity .2s linear); text-shadow: 0 0 3px $darkgrey, -1px 0 3px $darkgrey, 1px 0 3px $darkgrey, 0 -1px 3px $darkgrey, 0 1px 3px $darkgrey, -1px -1px 3px $darkgrey, 1px 1px 3px $darkgrey;
		&:hover { opacity: 1; }
	}
	.prev { left: 0; }
	.next { right: 0; }
	figcaption { color: $offwhite; line-height: 1.5; float: left; width: 96%; margin: 0 2%; -webkit-font-smoothing: antialiased;
		@include breakpoint($moblet) { width: 87.5%; margin: 0 6.25%; }
		@include breakpoint($tablet-mid) { width: 75%; margin: 0 12.5%; }
		h2 { margin: .25em 0 .375em; padding: 0 0 .25em; border-bottom: .0625em solid $offwhite; }
		p { margin: 0 0 .75em; }
	}
}
.category-image { position: relative;
	figcaption { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center;
		h4 { text-transform: uppercase; @include Freight; letter-spacing: .125em; margin: 2.5em .75em 0; font-weight: 600; font-size: 1.5em; }
	}
}